%h2 Navigating Your Browser

%ul
  %li
    Launch from keyboard shortcut
    .key-combo &#8963; &#8997; &#8984; B
  %li
    New tab
    .key-combo &#8984; N
  %li
    Searching, navigating Google results
    .key-combo &uarr;
    .key-combo &darr;
  %li
    Page up
    .key-combo &nbsp; fn &uarr;
  %li
    Page down
    .key-combo &nbsp; fn &darr;
  %li
    Chrome Inspector
    .key-combo &#8997; &#8984; I

