%h2 Navigating Your Editor

%h2 Editors: Sublime Text, Atom

%ul
  %li Launching
  %ul
    %li From Keyboard
  %li Creating a new file
  %li Navigating to a file
  %li Installing Packages
  %li Splitting Panes
  %li Finding things
  %li Find and replace
  %li Renaming/moving things
