%h2 How to Make a Deck
%ol
  %li
    %h3 Write Slides
    %p Slide content is simple&nbsp;HTML.
  %li
    %h3 Choose Themes
    %p One for slide styles and one for deck&nbsp;transitions.
  %li
    %h3 Include Extensions
    %p Add extra functionality to your deck, or leave it stripped&nbsp;down.
