%h2 First, A Primer

%ul
  %li
    Command
    .key-combo &#8984;

  %li
    Option
    .key-combo &#8997;

  %li
    Control
    .key-combo &#8963;

  %li
    Return (or Enter)
    .key-combo &crarr;

  %li
    Tab
    .key-combo &#8677
