%h2 Features of a flat database

%ul
  %li.slide All data is stored in one table.
  %li.slide Each row contains all the information of the record.
  %li.slide Easy to read.
  %li.slide Much duplication.
  %li.slide Very repetition.
